<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="order">
      <h2 data-cy="orderDetailsHeading"><span>Order</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ order.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ order.name }}</span>
        </dd>
        <dt><span>Number</span></dt>
        <dd>
          <span>{{ order.number }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ order.status }}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
          <span>{{ order.type }}</span>
        </dd>
        <dt><span>Price</span></dt>
        <dd>
          <span>{{ order.price }}</span>
        </dd>
        <dt><span>Import Date</span></dt>
        <dd>
          <span>{{ order.importDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Export Date</span></dt>
        <dd>
          <span>{{ order.exportDate | formatMediumDate }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/order', order.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
